body {
    background-color: rgb(12, 12, 12);
    padding-right: 100px;
    padding-left: 100px;
}

h1, h2 {
    font-family: Helvetica;
    font-weight: bold;
    color: white; 
}

h1 {
    text-align: center;
}

h2 {
    font-size: 16px;
}

pre {
    overflow-x: auto;
    background-color: rgb(77, 74, 74);
    color: white;
    padding-top: 10px;
    border-radius: 25px;
}

code {
    counter-reset: line;
    font-family: "Lucida Console", Courier, monospace;
}

.code-line::before {
    counter-increment: line;
    content: counter(line);
    text-align: right;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 18px;
    font-size: 12px;
}

.symbol, .code-line {
    color:rgb(201, 192, 192);
}

.tagname {
    color:rgb(64, 115, 224);
}

.attribute {
    color:rgb(135, 204, 250);
}

.comment {
    color: greenyellow;
}

.value {
    color: orange;
}
